
#log-in {
    margin-top: 2em;
    padding: 0px 340px;
}

label {
    font-family: $font;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #9F9FA2;
}

input[type=text],input[type=password],input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    font-family: $font;
    box-sizing: border-box;
    border-radius: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;


    &:focus {
        border: 1px solid #F47427;
        border-radius: 10px;
        box-shadow: 0px 3px 10px 0px rgba(244, 118, 39, 0.4);
    }
  }

  input[type=text]::placeholder {
    font-family: FontAwesome, $font, Verdana, sans-serif;
      color: #e5e5e5;
  }

  input[type=password]::placeholder {
    font-family: FontAwesome, $font, Verdana, sans-serif;
    color: #e5e5e5;
}

input[type=number]::placeholder {
  font-family: FontAwesome, $font, Verdana, sans-serif;
  color: #e5e5e5;
}

  input[type=submit] {
    width: 100%;
    background-color: #F47427;
    color: white;
    font-family: FontAwesome, $font, Verdana, sans-serif;
    font-weight: 800;
    font-size: 18px;
    padding: 14px 20px;
    margin: 2em 0 0.8em 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;


  }
  
  input[type=submit]:hover {
    background-color: rgb(209, 103, 38);
  }

  .form-group button {
    background: #f47247;
    color: white;
    transition: 0.2s;

    &:hover {
      color: rgb(218, 218, 218);;
    }
  }
