<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/aca3fb88dd.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>Dashboard</title>
</head>
<body id="dashboard">
    <div id="app">
    <div class="row">

        <!-- SIDEBAR -->
    <div class="col-lg-2 col-md-12 col-sm-12 sidebar">
        
        <h2>ჯონ დოუ</h2>
        <ul>
            <li><a href="">ჩემი პროფილი</a></li>
            <li><a href="">სტუმრების ისტორია</a></li>
            <li><a href="">ჩაწერილი სტუმრები</a></li>
        </ul>

        <footer>
            <img src="./img/logo.png" width="80%" alt="logo">
            <p>2019წ.  ყველა უფლება დაცულია</p>
        </footer>
    </div>
<!-- SIDEBAR ENDS -->





<!-- CONTENT -->
    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 content">
            


            <div class="row mt-3 details">
                    <!-- DEPARTAMENT MAIN ADDRESS -->
                   <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 departamnet">
                       <h6 class="departament-address">{{ departamentAddress }}</h6>
                   </div>
       
                   <!-- SIGN OUT BUTTON -->
                   <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 sign-out">
                       <button>გასვლა <i class="fas fa-sign-out-alt"></i></button>
                   </div>
               </div>


               <div class="search-container">
                    <form action="">
                      <input type="text" placeholder="&#xf002;  ძებნა" name="search">
                    </form>
                  </div>



        <div class="row mt-3 list-buttons">
             <!-- VISITORS COUNTER -->
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 guest-list">
                <h6><span style="color: #F47427">({{ guest = visitors.length }})</span> ჩაწერილი სტუმრების სია</h6>
            </div>

            <!-- BUTTON SHOULD ADD A VISITOR -->
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 add-guest">
                <button @click="showModal = true">დაამატე სტუმარი <i class="fas fa-plus-circle"></i></button>
            </div>
        </div>

        <!-- UNDERLINE -->
        <hr class="bg-#E6E6E6">

        <!-- ALERTS -->
        <div class="alert alert-danger" v-if="errorMsg">{{ errorMsg }}</div>
        <div class="alert alert-success" v-if="successMsg">{{ successMsg }}</div>

        <!-- DISPLAYING TABLES -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div style="overflow-x: auto">
                <table class="table" style="z-index: 99">
                    <thead>
                        <tr class="text-left bg-#E1E1E1">
                            <th>სახელი</th>
                            <th>ტელეფონის ნომერი</th>
                            <th>მანქანის ნომერი</th>
                            <th>მასპინძლის სახელი</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-left" v-for="(visitor, index) in visitors">
                            <td>{{ visitor.name }}</td>
                            <td>{{ visitor.number }}</td>
                            <td>{{ visitor.carNumber }}</td>
                            <td>{{ visitor.hostName }}</td>
                            <td @click="removeVisitor(index)">X</td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <span v-if="guest == 0" class="no-guests">თქვენ არ გყავთ ჩაწერილი სტუმარი</span>
            </div>
        </div>

<!-- ADDING VISITOR MODAL -->
<div id="overlay" v-if="showModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--MODAL HEAD -->
                <div class="modal-header">
                    <h5 class="modal-title">სტუმრის დამატება </h5>
                    <button type="button" class="close" @click="showModal = false">
                        <span aria-hidden="false">&times;</span>
                    </button>
                </div>
                <!--MODAL BODY -->
                <div class="modal-body p-4">
                    <form action="#" method="POST" id="visitors-adding" @submit.prevent="submit()" novalidate>

                        <div class="form-group">
                            <input type="text" name="fullname" class="form-control form-control-lg" placeholder="სრული სახელი" v-model="newVisitor.name">
                        </div>

                        <div class="form-group">
                            <input type="number" name="number" class="form-control form-control-lg" placeholder="ტელეფონის ნომერი" v-model="newVisitor.number" required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="carnumber" class="form-control form-control-lg" placeholder="მანქანის ნომერი" v-model="newVisitor.carNumber" >
                        </div>

                        <div class="form-group">
                            <input type="text" name="carnumber" class="form-control form-control-lg" placeholder="მასპინძლის სახელი" v-model="newVisitor.hostName" required>
                        </div>

                        <div class="form-group">
                                <button class="btn btn-block btn-lg"  @click="showModal = false; addVisitor();">დამატება</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    </div>
</div>   






</div> 
<!-- CONTENT ENDS -->

<!-- SCRIPTS RUNS HERE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/App.js"></script>
    
</body>
</html>